<h1 id="top">Lifecycle Hooks</h1>
<a href="#hooks">Peek-a-boo: (most) lifecycle hooks</a>
<a href="#spy">Spy: directive with OnInit & OnDestroy</a>
<a href="#onchanges">OnChanges</a>
<a href="#docheck">DoCheck</a>
<a href="#after-view">AfterViewInit & AfterViewChecked</a>
<a href="#after-content">AfterContentInit & AfterContentChecked</a>
<a href="#counter">Counter: OnChanges + Spy directive</a>

<on-changes-parent id="onchanges" parentLifeCycle></on-changes-parent>
<a href="#top">back to top</a>
<hr />

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
